

<header>
<ul class="nav nav-tabs nav-justified">
<li>
  <%= link_to 'New Player', '/new' %>
</li>
<li>
  <%= link_to "standings", '/standings' %>
</li>
<li>
  <%= link_to "Submit Score", '/matches/new' %>
</li>
</ul>
</header>
<div class="background_image">
</div>
