<header>
<ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Home", '/' %></li>
  </ul>
</header>
<h1 class = "rules">Rules</h1>

  <ol class="rules_list">
    <li>When you first create your player you are put at the bottom of the ladder</li>
    <li>In order to move up, you can challenge the 2 people immediately above you on the ladder (check the homepage)</li>
    <li>If you win the match, you take that players position on the ladder and they fall down to your position</li>
    <li>To Challenge a player, simply ask them in person to play</li>
    <li>The challenged player has 3 days to accept and play the game otherwise they forfiet</li>
    <li>After the game is completed simply go to Submit Match, and enter in the correct information</li>
    <li>Lastly, Have Fun and try to make your way to the top of the list</li>

    </ol>
