


<div class="create_player">
<div class= "player_header">

  <h1 class="title_create">Let's create a player</h1>

<p font-color= white>Please enter your name, and your slack name</p>
</div>

<%= render 'form', player: @player %>

<button type="button" class="btn btn-secondary">
<%= link_to 'Back', '/' %>
</button>
</div>
