
<div class="matches_background">

<h1 class="submit">Submit Score</h1>


<div class= "form">
<%= render 'form', match: @match %>
</div>
<button class="button">
<%= link_to 'Home', '/' %>
</button>
</div>
