<div class="create_player">
<div class= "player_header">

<h1>Submit Score</h1>

</div>
<div class= "form">
<%= render 'form', match: @match %>
</div>
<button class="button">
<%= link_to 'Back', '/standings' %>
</button>
</div>
