// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url(new_photo);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-tabs.nav-justified>li>a{
  background-color: #E8E1CF;

}
header li{
  font-size: 28px;
  font-weight: bold;
  color: #E8E1CF;
  font-family: "Chalkduster";
}

#body h1{
  font-size: 72px;
  color: red;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Chalkduster";
}

#body p {
  font-size: 36px;
  text-align: center;
  margin: 20px;
  color: blue;
  font-family: "Chalkduster";

}
div#body {
    background-color: #E8E1CF;
}
