// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url(new_photo.jpg);
  background-size: cover;
}

header li{
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: "Chalkduster";
}

#body h1{
  font-size: 72px;
  color: red;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Chalkduster";
}

#body p {
  font-size: 36px;
  text-align: center;
  margin: 20px;
  color: blue;
  font-family: "Chalkduster";
}
