// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.player_header {
margin-bottom: 50px;



}
div.create_player{

background-color: lightblue;
// I wannt to make this color the whole screen

}

div.field  {
padding: 5px;
display: inline-flex;



}
label {
margin-right: 10px;


}
body {




}
