// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body div.create_player {
  text-align: center;
  font-weight: bold;
  font-family: "Chalkduster";
  color: red;
}

div.field, div.actions{
display: inline-table;


}

html body div.form {
  color: black;
  font-style: bold;
  font-weight: 1000;
  margin-bottom: 20px;
  display: inline-table;


}
h1.title_create {
margin-bottom: 25px;



}
label {
margin: auto 15px;


}

button, input, select, textarea {
display: -webkit-box;
margin: 0 auto;
// ^THis should center the text boxes and it doesn't :(
}


div.background {
  background-image: image-url('office-relax-clean-ping-pong.jpg');
  background-repeat: no-repeat;no-repeatdisplay: compact;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  height: 100%;
  width: auto;
  padding: 100px;

}
h1.bio {
font-size: 120px;
font-weight: 600;
color: darkblue;
margin-bottom: 50px;


}
div.player_bio p {
  font-size: 20px;
  align-items: baseline;
  padding: 10px;
  color: darkblue;

}
div.player_bio {
  font-size: 200px;
  font-weight: 600;
  color: black;


}
