// Place all the styles related to the standings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.standings h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Chalkduster";
  font-size: 64px;
  color: red;
  margin-top: 150px;
}

.table thead {
  font-size: 20px;
  color: blue;
  font-family: "Chalkduster";
  text-align: center;
}

.table tbody {
  font-size: 18px;
  font-weight: bold;
  font-family: "Chalkduster";

  color: #000;
}

.button {
  font-size: 22px;
}
table.table {
  background-color: #E8E1CF;

}
