// Place all the styles related to the standings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.standings {
  text-align: center;
  font-weight: bold;
  font-family: "Chalkduster";
  font-size: 48px;
}

.table {
  font-size: 18px;
}

.button {
  font-size: 18px;
  color: black;
}
